html {
	font-family: 'Roboto', sans-serif;
}

body {
	background-image: linear-gradient(
  290deg,
  hsl(41deg 100% 56%) 0%,
  hsl(42deg 100% 55%) 17%,
  hsl(43deg 100% 55%) 25%,
  hsl(44deg 100% 54%) 31%,
  hsl(46deg 100% 54%) 37%,
  hsl(47deg 100% 53%) 42%,
  hsl(48deg 100% 53%) 47%,
  hsl(49deg 100% 52%) 53%,
  hsl(50deg 100% 51%) 58%,
  hsl(51deg 100% 51%) 63%,
  hsl(52deg 100% 50%) 69%,
  hsl(53deg 100% 50%) 75%,
  hsl(54deg 100% 50%) 83%,
  hsl(55deg 100% 50%) 100%
);
	background-attachment: fixed
}

form {
	background-color: #f5f3f3;
	border-radius: 20px;
	padding: 30px;
	max-width: 400px;
	margin: 0 auto;
}

#signup-title {
	text-align: center;
	font-size: 46px;
}

label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}

input[type="text"],
input[type="tel"],
select {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 25px;
}

input[type="button"] {
	background-color: #fdc20d;
	color: white;
	padding: 20px;
	width: 100%;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 32px;
}

input[type="button"]:hover {
	background-color: #e2c168;
}

.phone-number {
	display: flex;
}

#error {
	color: red;
}
